{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="d-sm-flex justify-content-center btn btn-info m-1">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4 col-lg-4 col-md-4 mt-3">
                <div class="card h-100 rounded">
                    <div class="card-body d-flex flex-column p-3">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text">{{ task.content }}</p>
                        <div class="mt-auto">
                            <div class="list-action d-flex flex-wrap justify-content-between">
                                <form action="{{ path('task_toggle', {'id' : task.id }) }}" class="m-1">
                                    <button class="btn btn-success btn-sm btn-uniform">
                                        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                    </button>
                                </form>
                                <form action="{{ path('task_edit', {'id' : task.id }) }}" class="m-1">
                                    <button class="btn btn-info btn-sm btn-uniform">Modifier</button>
                                </form>
                                <form action="{{path('task_delete', {'id' : task.id }) }}" class="m-1">
                                    <button class="btn btn-danger btn-sm btn-uniform">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning ms-auto">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
